@{
    ViewBag.Title = "Lỗi trang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section style="text-align:center;">
    <img src="/Galery/galery/404.png" alt="ERORR_" />
	<h2><span>SOMETHING WRONG </span>BAD REQUEST</h2>
		<h1> Please try again to a little bits</h1>
		<h1 style="font-size:7.0em;padding-top:30px;">404 ERORR</h1>
	</section>
