
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Thêm Category Menu</h4>
      </div>
        <form>
      <div class="modal-body">
          <div class="row">
          <div class="col-md-6" style="margin:0 auto;">
              <div class="form-group">
               <input type="text" class="form-control" placeholder="Name" name="name">
                  </div>
                  <div class="form-group">
              <input type="text"  class="form-control"placeholder="Area" name="Area">
                      </div>
                      <div class="form-group">
                      <select name="Status" class="form-control">
                          <option value="True">Activing</option>
                          <option value="False">Hiding</option>
                      </select>
                  </div>
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
            </form>
    </div>

  </div>
</div>