@{
    ViewBag.Title=ViewBag.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  MG_Model.CodeHandle.Assets.PageInfor<MG_Model.EF.Products>
	<section>

		<div class="container">
			<div class="row">
                <div class="col-sm-3 cus">
                    @{Html.RenderAction("_getLeftMenu","Menu");}
                </div>
                <div class="col-sm-7 cus">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">-----Danh mục @ViewBag.Name-----</h2>
                                <div id="paging">
                                    @Html.Partial("Paging2",Model)
                                </div>
                        <script src="~/Scripts/_detailScript.js"></script>
                        <script src="~/Scripts/_getHomePage.js"></script>
								<!-- Left and right control>
                    
				</div><!--features_items-->
                    </div>
            </div>
                <div class="col-sm-2 padding-right cus">
                   
                     @{Html.RenderAction("_getBrands", "Menu");}
                   
                </div>
            </div>
        </div>
    </section>
