@* chi tiet*@
<div id="detailProduct" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="height:auto">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Chi tiết sản phẩm cho bảng Products</h4>
      </div>
      <div class="modal-body">
          <div class="row">
<div class="col-md-6">
                  <b>Name:</b><input readonly type="text"  id="_nameProduct">
                  <b>Code:</b><input readonly type="text"  id="_codeProduct">
                  <b>Company:</b><input readonly type="text"  id="_nameCompany">
                  <b>DateCreate:</b><input readonly type="text"  id="_dateCreated">
                  <b>DateImport:</b><input readonly type="text"  id="_dateImport">
                  <b>Country:</b><input readonly type="text"  id="_Country">
                  <b>Color:</b><input readonly type="text"  id="_color">
                  <img id="_large" />
                  <b>Status:</b><input readonly type="text"  id="_Status">
              </div>
              <div class="col-md-6">
                  <img id="_normal">
                  <img id="_small">
                  <b>Alt:</b><input readonly type="text"  id="_alt">
                  <b>Price:</b><input readonly type="text"  id="_price">
                  <b>Material:</b><input readonly type="text"  id="_material">
                  <b>Count:</b><input readonly type="text"  id="_count">
                  <b>Description:</b><input readonly type="text"  id="_Description">
                  <b>Order:</b><input readonly type="text"  id="_Order">
                  <b>ID:</b><input readonly type="text"  id="_IDC">
                  <b>Type:</b><input readonly type="text"  id="_type">
              </div>
            </div>
          </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>