@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/_layout.cshtml";
}
@model IEnumerable<MG_Model.CodeHandle.GaleryManager.GaleryModel>
<div class="row">
								<div class="col-xs-12">
									<!-- PAGE CONTENT BEGINS -->
             <div id="page-inner">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 class="page-head-line">Galery</h1>
                                </div>
                            </div>
            <div class="alert alert-info">
                        Admin Galery
                                    </div>
                <div class="panel panel-default">
                        <div class="panel-body">
										<ul class="ace-thumbnails clearfix">
											<!-- #section:pages/gallery -->
											
											<!-- /section:pages/gallery -->

											<!-- #section:pages/gallery.caption -->

                                            @foreach (var i in Model)
                                            { 
                                                <li>
												    <a href="@i.image_large" data-rel="colorbox">
													    <img width="150" height="200" alt="@i.alt" src="@i.image_large" />
													    <div class="text">
														    <div class="inner">@i.nameProduct</div>
													    </div>
												    </a>

												    <div class="tools tools-bottom">
													    <a href="#">
														    <i class="ace-icon fa fa-link"></i>
													    </a>

													    <a href="#">
														    <i class="ace-icon fa fa-paperclip"></i>
													    </a>

													    <a href="#">
														    <i class="ace-icon fa fa-pencil"></i>
													    </a>

													    <a href="#">
														    <i class="ace-icon fa fa-times red"></i>
													    </a>
												    </div>
											    </li>
                                            }
											
									</ul>
                            </div>
                                        </div>
								</div><!-- PAGE CONTENT ENDS -->
							</div><!-- /.col -->
						</div><!-- /.row -->