@model IList<MG_Model.EF.MenuManager>

<section id="slider" class="container">
			<div id="adsProducts" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ol id="_top" class="carousel-indicators">
						  <li data-target="#adsProducts" data-slide-to="0" class="active"></li>
						  <li data-target="#adsProducts" data-slide-to="1"></li>
						  <li data-target="#adsProducts" data-slide-to="2"></li>
						  <li data-target="#adsProducts" data-slide-to="3"></li>
						  <li data-target="#adsProducts" data-slide-to="4"></li>
						  <li data-target="#adsProducts" data-slide-to="5"></li>
						</ol>

						<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
						<!--su dụng vòng foreach ở đây để taok silde-->
                            
                            @foreach (var i in Model)
                            { 
                                <div class="item @if(i.Possition==1){<text>active</text>}">
                                    <a href="@i.link"><img src="@i.ItemIcon" alt="/" ></a>
                                </div>
                            }
                            
				</div>
						<!-- Left and right controls -->
						<a class="left carousel-control" href="#adsProducts" role="button" data-slide="prev">
						  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						  <span class="sr-only">Previous</span>
						</a>
						<a class="right carousel-control" href="#adsProducts" role="button" data-slide="next">
						  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						  <span class="sr-only">Next</span>
						</a>
			  </div>
		</section>

